
.idea/
social-zone.iml

auth-service/.gradle/
auth-service/build/
auth-service/gradlew
auth-service/gradlew.bat

eureka-server/.gradle/
eureka-server/build/
eureka-server/gradlew
eureka-server/gradlew.bat

gateway/.gradle/
gateway/build/
gateway/gradlew
gateway/gradlew.bat

posting-service/.gradle/
posting-service/build/
posting-service/gradlew
posting-service/gradlew.bat

store-service/.gradle/
store-service/build/
store-service/gradlew
store-service/gradlew.bat



.gradle
build/
#!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/